# Week 1 Challenge Project
---
Hypothyroidism, also called underactive thyroid or low thyroid, is a disorder of the endocrine system in which the thyroid gland does not produce enough thyroid hormone. It can cause a number of symptoms, such as poor ability to tolerate cold, a feeling of tiredness, constipation, depression, and weight gain. Occasionally there may be swelling of the front part of the neck due to goitre. Untreated hypothyroidism during pregnancy can lead to delays in growth and intellectual development in the baby or cretinism.

Worldwide, too little iodine in the diet is the most common cause of hypothyroidism. In countries with enough iodine in the diet, the most common cause of hypothyroidism is the autoimmune condition Hashimoto's thyroiditis. Less common causes include: previous treatment with radioactive iodine, injury to the hypothalamus or the anterior pituitary gland, certain medications, a lack of a functioning thyroid at birth, or previous thyroid surgery. The diagnosis of hypothyroidism, when suspected, can be confirmed with blood tests measuring thyroid-stimulating hormone (TSH) and thyroxine levels.

Worldwide about one billion people are estimated to be iodine deficient; however, it is unknown how often this results in hypothyroidism. In the United States, hypothyroidism occurs in 0.3â€“0.4% of people.

And that is why we iodize salt.

![alt text](https://www.mayoclinic.org/-/media/kcms/gbs/patient-consumer/images/2013/11/15/17/39/ds00181_-ds00344_-ds00353_-ds00491_-ds00492_-ds00567_-ds00660_-my00709_im01872_thyroid_gif.jpg)

Background: Doctors all around the world need our help to predict whether a patient has hypothyroid disease. We have already overspent our budget to collect such complete data on about 30 attributes for 2800 patients--a good starting number, but a larger sample would certainly be preferred. Moving forward, however, we simply cannot afford to spend so much money on data collection. Therefore, we also need to determine which attributes are the most meaningful to the predictive models, and cut out the rest that don't contribute much. 

The boss wants to see a **balanced** model that can predict with a **high sensitivity** and **high specificity** while using a ***low amount of features***. Collecting complete data such as this is very rare, very time-consuming, and often very expensive. By minimizing the number of features, it will optimize future data collection by deciding what needs to be collected, and what doesn't.

## Loading the data

Let's read the data into a Pandas dataframe and look at the first 20 records.

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/ChallengeProjects/Week1/allhypo.train.data.csv"
dataset=pd.read_csv(url) 
dataset.head(20)

   Age Sex On thyroxine  ... TBG referral source                          class
0   41   F            f  ...   ?            SVHC                 negative.|3733
1   23   F            f  ...   ?           other                 negative.|1442
2   46   M            f  ...   ?           other                 negative.|2965
3   70   F            t  ...   ?           other                  negative.|806
4   70   F            f  ...   ?             SVI                 negative.|2807
5   18   F            t  ...   ?           other                 negative.|3434
6   59   F            f  ...   ?           other                 negative.|1595
7   80   F            f  ...   ?             SVI                 negative.|1367
8   66   F            f  ...   ?             SVI                 negative.|1787
9   68   M            f  ...   ?             SVI                 negative.|2534
10  84   F            f  ...   ?             SVI                 negative.|1485
11  67   F            t  ...   ?           other                 negative.|3448
12  71   F            f  ...   ?           other                 negative.|1027
13  59   F            f  ...   ?             SVI                 negative.|3331
14  28   M            f  ...   ?            SVHC                 negative.|2043
15  65   F            f  ...   ?           other  compensated hypothyroid.|3169
16  42   ?            f  ...   ?           other                 negative.|2755
17  63   F            f  ...   ?             SVI                 negative.|1010
18  80   F            f  ...   ?             SVI                  negative.|803
19  28   M            f  ...   ?            SVHC                 negative.|2297

[20 rows x 29 columns]

Great, looks like the data loaded in properly. Let's continue looking at some summary statistics on our data.

## Viewing summary statistics
The functions describe() and info() are your friends

In [2]:
dataset.describe()

         Age   Sex On thyroxine  ...   TBG referral source           class
count   2800  2800         2800  ...  2800            2800            2800
unique    94     3            2  ...     1               5            2800
top       59     F            f  ...     ?           other  negative.|2625
freq      75  1830         2470  ...  2800            1632               1

[4 rows x 29 columns]

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2800 entries, 0 to 2799
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        2800 non-null   object
 1   Sex                        2800 non-null   object
 2   On thyroxine               2800 non-null   object
 3   query on thyroxine         2800 non-null   object
 4   on antithyroid medication  2800 non-null   object
 5   sick                       2800 non-null   object
 6   pregnant                   2800 non-null   object
 7   thyroid surgery            2800 non-null   object
 8   I131 treatment             2800 non-null   object
 9   query hypothyroid          2800 non-null   object
 10  query hyperthyroid         2800 non-null   object
 11  lithium                    2800 non-null   object
 12  goitre                     2800 non-null   object
 13  tumor                      2800 non-null   object
 14  psych                      2800 non-null   object
 15  TSH measured               2800 non-null   object
 16  TSH                        2800 non-null   object
 17  T3 measured                2800 non-null   object
 18  T3                         2800 non-null   object
 19  TT4 measured               2800 non-null   object
 20  TT4                        2800 non-null   object
 21  T4U measured               2800 non-null   object
 22  T4u                        2800 non-null   object
 23  FTI measured               2800 non-null   object
 24  FTI                        2800 non-null   object
 25  TBG measured               2800 non-null   object
 26  TBG                        2800 non-null   object
 27  referral source            2800 non-null   object
 28  class                      2800 non-null   object
dtypes: object(29)
memory usage: 634.5+ KB

Note the data types are all objects--even columns that are obviously numeric like Age.

## Data cleaning

To start, let's make all the numerical columns contain the correct type of values and change the data type of those columns to numeric. Let's also replace all those question marks with the median of the respective column.

Hint: To make it easier, first try converting all the "?" to NaN.

In [10]:
import numpy as np

# Convert "?" to NaN
q_marks = ['TSH','T3','TT4','T4u','FTI','TBG']
for i in q_marks:
  dataset[i].replace(to_replace='?', value=np.nan, inplace=True)

# Identify columns by what type of data they hold
numeric_columns = ['Age','TSH','T3','TT4','T4u','FTI','TBG']
categorical_columns = ['Sex', 'On thyroxine',	'query on thyroxine', 'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery', 'I131 treatment',	'query hypothyroid', 'query hyperthyroid', 'lithium',	'goitre', 'tumor', 'psych',	'TSH measured', 'T3 measured','TT4 measured','T4U measured','FTI measured','TBG measured', 'referral source']

# Print statement for sanity check
print('Numerical Columns: ',numeric_columns)
print('Categorical Columns: ',categorical_columns)

dataset.head(10)

Numerical Columns:  ['Age', 'TSH', 'T3', 'TT4', 'T4u', 'FTI', 'TBG']
Categorical Columns:  ['Sex', 'On thyroxine', 'query on thyroxine', 'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery', 'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium', 'goitre', 'tumor', 'psych', 'TSH measured', 'T3 measured', 'TT4 measured', 'T4u measured', 'FTI measured', 'TBG measured', 'referral source']

  Age Sex On thyroxine  ... TBG referral source           class
0  41   F            f  ... NaN            SVHC  negative.|3733
1  23   F            f  ... NaN           other  negative.|1442
2  46   M            f  ... NaN           other  negative.|2965
3  70   F            t  ... NaN           other   negative.|806
4  70   F            f  ... NaN             SVI  negative.|2807
5  18   F            t  ... NaN           other  negative.|3434
6  59   F            f  ... NaN           other  negative.|1595
7  80   F            f  ... NaN             SVI  negative.|1367
8  66   F            f  ... NaN             SVI  negative.|1787
9  68   M            f  ... NaN             SVI  negative.|2534

[10 rows x 29 columns]

Hmm, still looks like the TBG columns are unfilled, implying they were empty to begin with. Let's get rid of these columns, then (and make sure to get rid of it in your list of categorical/numeric columns, too!)

In [20]:
## YOUR CODE HERE
copy = dataset.drop(['TBG'], axis=1)
copy.head()

  Age Sex On thyroxine  ... TBG measured referral source           class
0  41   F            f  ...            f            SVHC  negative.|3733
1  23   F            f  ...            f           other  negative.|1442
2  46   M            f  ...            f           other  negative.|2965
3  70   F            t  ...            f           other   negative.|806
4  70   F            f  ...            f             SVI  negative.|2807

[5 rows x 28 columns]

In [21]:
numeric_columns = ['Age','TSH','T3','TT4','T4u','FTI']

All right, let's take a look now at the info of *just the numeric columns* in the dataset:

In [22]:
copy[numeric_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2800 entries, 0 to 2799
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     2800 non-null   object
 1   TSH     2516 non-null   object
 2   T3      2215 non-null   object
 3   TT4     2616 non-null   object
 4   T4u     2503 non-null   object
 5   FTI     2505 non-null   object
dtypes: object(6)
memory usage: 131.4+ KB

Perfect!  Now let's see what's going on with the "class" column.... According to the note the data collectors included with this data, the ".|####" refers to a patient number, and is not necessarily relevant for our purposes here.  Let's turn the "class" column into a useful multi-class label.

In [ ]:
import re
## YOUR CODE HERE
only look at info before '|'

Let's run the describe() function on just the "class" column.

In [ ]:
dataset['class'].describe()

count         2800
unique           4
top       negative
freq          2580
Name: class, dtype: object

It looks like there are actually 4 unique classification variables! Thank goodness we didn't assume it was binary.

Display all the unique values in the class column.

In [ ]:
## YOUR CODE HERE
dataset['class'].unique()

But let's make it binary for the sake of this example anyway. If you finish early later on Thursday/Friday, try the multiclass classifier with all 4 values!

In [ ]:
## YOUR CODE HERE

Before we move on, let's not forget to run the describe() function on just  your categorical columns, too.
Compare it to the describe() that your numeric columns produce.

In [ ]:
## YOUR CODE HERE

Great! Let's see if there's any other records we have to address. count() is a nice way to check if we have any other missing values.

In [ ]:
dataset.count()

There seems to be quite a few rows with missing data. There are techniques you can use to try to handle this situation (and some models in sklearn can handle NaN values without problem). But let's just remove those rows for now. When working on groups, you're more than welcome to choose your own method of dealing with the missing data.

In [ ]:
## YOUR CODE HERE

Ooof! We just cut out about 30% of our data set! You probably won't want to throw out this data for your project, but let's keep going now that we have a clean dataset and do some further data analysis and visualization to better understand what we're working with.

## Data analysis and visualization

As the name suggests, [pandas.corr()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.corr.html) will compute pairwise correlation of (numerical) columns, excluding NA/null values. Notice that in this case, since we've converted 'class' to a number (0 or 1) we can see how correlated different features are with the class label!

Check the correlation

In [ ]:
## YOUR CODE HERE

Convert the class feature to numeric so we can also see the correlations it has with the numeric features, and check the correlation again.

In [ ]:
## YOUR CODE HERE

Let's do some further visual analysis using a new module called seaborn. Explore its incredible versatility and diversity with data visualization here: https://seaborn.pydata.org/

In [ ]:
import seaborn as sns

OK! I think we're ready to create and select some supervised learning models. To get the ball rolling, select Age and Sex as our explanatory features (and class as the target feature, obviously).

In [ ]:
dataset.describe()

Now let's take a look at our categorical columns!

In [ ]:
## YOUR CODE HERE

Uh oh... we have several features that are non-informative (they only have a single value).  We probably didn't notice this before because there were still '?' values in there, or perhaps when we threw out that 30% of our data we got rid of some variation in these features.  Let's just drop those columns.

In [ ]:
## YOUR CODE HERE

We can convert categorical columns (i.e., True/False or Male/Female) into indicator values (0,1) using a pretty nifty feature: [pandas.get_dummies()](https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.get_dummies.html).  We can convert categorical columns (i.e., True/False or Male/Female) into indicator values (0,1) using a pretty nifty feature: [pandas.get_dummies()](https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.get_dummies.html).

In [ ]:
## YOUR CODE HERE